<div class="row mb-3">
  <div class="col-6">商品小計</div>
  <div class="col-6 text-right">￥<%= number_with_delimiter(total_amount) %>（税込）</div>
</div>
<div class="row mb-3">
  <div class="col-6">送料</div>
  <div class="col-6 text-right">￥<%= number_with_delimiter(order.postage) %>（税込）</div>
</div>

<div class="row mb-3">
  <div class="col-6">合計</div>
  <div class="col-6 text-right">￥<%= number_with_delimiter(total_amount + order.postage) %>（税込）</div>
</div>