<div class="container">
  <div style="text-align: center;">
    <h5><b>注文履歴</b></h5>
  </div>

  <div class="row">
    <div class="col-md-12">

    <% @orders.each do |order| %>

      <div class="row">
        <div class="col-md-6">
          注文日：<%= order.created_at %>
        </div>
        <div class="col-md-6">
          <%= link_to order_path(order), class: "btn btn-light btn-block" do %>
            注文詳細
          <% end %>
        </div>
      </div>

      <% order.order_details.each do |order_detail| %>
        <div class="row"><%= order_detail.item.name %></div>
        <div class="row">数量: <%= order_detail.amount %></div>
      <% end %>

    <% end %>



    </div>
  </div>

</div>
