<h1 class="jquery">Hello jQuery!</h1>

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
       <%= image_tag 'fassion1.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'fassion2.jpg' %>
    </div>

    <div id="banner">
      <img id="banner-image" src="" alt="Event Banner">
    </div>

    <div id="banner">
      <img id="banner-image" src="" alt="Event Banner">
    </div>

<div class="wrapper">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img id="banner-image" src="" alt="Event Banner"></div>
      <div class="swiper-slide"><img src="/<%= image_tag 'fassion2.jpg' %>"></div>
      <div class="swiper-slide"><img src="/<%= image_tag 'fassion2.jpg' %>"></div>
    </div>  
  </div>
  <!-- pagination -->
  <div class="swiper-pagination"></div>
  <!-- navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

  </div>
  <!-- ページネーションの要素 -->
  <div class="swiper-pagination"></div>
  <!-- ナビゲーションボタン （前、次） -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>