/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.swiper {
  width: 600px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #000000;
  --swiper-pagination-color: #000000;
}

.wrapper {
  position: relative; /* ナビゲーション、ページネーションの位置決めに必要 */
  max-width: 1000px; /* サイトにあわせて任意で */
  margin: 0 auto;
}
.swiper {
  --swiper-navigation-sides-offset: -40px; /* ナビゲーションボタンの位置 */
  --swiper-pagination-bottom: -20px; /* ページネーションの位置 */
}



body {
    font-family: Arial, sans-serif;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 1000;
}

.navbar-nav .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #f1f1f1;
}

.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}